---
import BaseLayout from '../../layouts/BaseLayout.astro';
import ContactCTA from '../../components/ContactCTA.astro';
import Hero from '../../components/Hero.astro';
import Grid from '../../components/Grid.astro';

const posts = (await Astro.glob('../../content/posts/*.{md,mdx}'))
	.sort((a, b) => b.data?.publishDate?.valueOf() - a.data?.publishDate?.valueOf())
---

<BaseLayout
	title="Posts"
	description="Take a look at the most recent updates from the blog"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Posts"
				tagline="Most recent updates"
				align="start"
			/>
			<Grid variant="offset">
				{
					posts.map((post) => (
						<li class="blog-card">
              <div class="blog-card-top">
                <a href={`./${post.file.split('/').pop().replace(/\.md(x)?/,'')}`}>{post.frontmatter.title}</a>
              </div>
              <div class="blog-card-bottom">
                <p>lorem ipsum</p>
              </div>
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>

<style type="scss">
.blog-card {
  display: flex;
  flex-direction: column;
	border-radius: 0.3rem;
	box-shadow: 0 0 0.3rem rgba(235, 232, 232, 0.557);
  transition: 0.3s;
	min-height: 120px;
	color: black;

  &:hover {
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  }

  .blog-card-top {
    background-color: rgb(179, 179, 237);
    align-items: center;
    padding: 8px;
    border-top-right-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
  }

  .blog-card-bottom {
    display: flex;
    height: 100%;
    padding: 8px;
    flex-direction: row;
    background-color: rgb(233, 225, 225);
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}
</style>